div {
    background: linear-gradient(rgb(27, 13, 61), #000);
    height: 668px;
    text-align: center;
  }
 body {
    font-family:Serif;
 }
 h1 {
    line-height: 300px;
 }
 h3 {
    font-size:30px;
    line-height: 0px;
 }
 h4 {
    font-size: 45px;
    line-height: 0px;
 }
